
  /* .container {
    padding: 0 15px;
  } */
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
@media only screen and (max-width: 992px)
{
 
  .flatform-area__box-r {
    display: block;
  }
 
  .flatform-area__box-r-b {
    padding-top: 15px;
  }
  .flatform-area__box__left {
    min-width: 225px;
  }
  .officical-parter__team__parter-item {
    margin-bottom: 20px;
  }

  .flatform-area__box-r-b {
    padding-left: 0;
  }
}
@media only screen and (max-width: 768px)
{
  .header-area {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header-area .logo {
    width: 92%;
  }
  .header-area button {
    width: 90%;
    height: 80px;
    margin-top: 50px;
    font-size: 30px;
  }
  .header-area h1 {
    display: none;
  }
  .header-area .header-area__title {
    display: block;
    line-height: 37px;

  }
  .header-area .h1-duoi {
    padding: 0
  }
  .open-box {
    display: block;

  }
  .open-box .open-left {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .open-box .open-right {
    width: 100%;
    text-align: center;
  }
  .open-area .container {
    padding-bottom: 29px;
  }
  .title-box {
    flex-direction: column-reverse;
    text-align: center;
  }
    .title-box h2 {
      padding-top: 27px;
    }
    .p-sp {
      display: block;

    }
    .p-pc {
      display: none;
    }
    .open-area p.p-sp-tren {
      padding-bottom:  6px;
    }
    .news1 {
      padding-top: 0;
      display: block;
      padding-bottom: 10px;
      padding-right: 30px;
      padding-left: 30px;

    }
    .news1-left img{
      width: 55%;
      /* height: 220px; */
      margin-left: -30px;
      margin-right: 30px;
    }
    .news1-right {
      padding-top: 15px;
      justify-content: space-between;
      border-top: 1px solid #f4f4f3;
      padding-right: 0;
    }
    .news1-right p,.news2-right p,.news3-right p {
      display: block;
      font-weight: bold;
    }
    .news2,.news3 {
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 13px;
    }
    .news2-right,.news3-right {
      padding-top: 15px;
      border-top: 1px solid #f4f4f3;
      justify-content: space-between;
      padding-right: 0;

    }
    .flatform-area__box {
      display: block;
    }
    .flatform-area__box__left {
      width: 100%;
      margin-bottom: 30px;
      padding-top: 29px;
      padding-bottom: 29px;
    }
    .fl-b-left {
      display: flex;
      justify-content: center;

    }
    .flatform-area__box__left p {
      padding-top: 0;
    }
    .fl-b-left-1 {
      margin-right: 50px;
    }
    .fl-bot {
      width: 100%;
    }
    .baus-team-box {
      display: block;
      padding-bottom: 20px;
    }
    .baus-t-box-3 {
      display: block;
      padding-left: 30px;
      padding-right: 30px;

    }
    .baus-t-box-3 p {
      line-height: 27px;
    }
    .baus-t-box-2 {
      display: none;
    }
    .baus-t-box-1 {
      padding-top: 60px;
    }
    .baus-team-box-left img {
      margin-left: 0px;
      margin-top: 0px;
      margin-bottom: 15px;
      width: 260px;

    }
    .baus-team-box-left {
      min-width: 330px;
    }
    .baus-t-box-4-1,.baus-t-box-4-2,.baus-t-box-4-3 {
      display: block;
      padding-top: 20px;
    }
    .officical-parter__team img {
      width: 209px;
    }
    .officical-parter__team {
      justify-content: space-around;
      flex-wrap: wrap;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

  .header-area .logo {
    margin-top: 167px;
  }
  .header-area button {
    height: 50px;
    width: 95%;
    font-size: 18px;
  }
  .baus-team-box-left img {
    width: 150px;
  }
  .baus-t-box-1 {
    padding-top: 10px;
  }
  .flatform-area__box__left img {
    width: 98px;
  }
  .title-box h2 {
    font-size: 40px;
  }
  .flatform-area__box-r-a-1-r img {
    width: 99px;
  }
  .flatform-area__box-r {
    padding-left: 15px;
    padding-right: 15px;
  }
  .baus-team-box-left {
    min-width: 160px;
  }
  .flatform-area__box-r-a-2 p {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .makenext-area .container {
    display:flex;
  }
  .makenext-area__left, .makenext-area__right {
    text-align: left;
  }
  .header-area {
    background-image:url("../image-assets/movie_pc.png");
  }
  .flatform-area__box__left {
    margin-right: 20px;
  }
  .baus-team-box-right {
    padding-right: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .flatform-area__box-r-a {
    min-width: 380px;
  }
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
